<main>
    <section class="py-5 text-center container">
        <div class="row">
            <div class="card bg-transparent">
                <img src="{{restaurant.image}}" class="card-img" />
                <div class="card-img-overlay">
                    {{!-- <h5
                                    class="card-title bg-secondary bg-opacity-25"
                                >{{name}}</h5> --}}
                    <span class="badge bg-dark bg-opacity-75"><h1
                            class="fw-light"
                        >Welcome to
                            {{restaurant.name}}.</h1><p class="lead">Please
                            review each of our
                            {{restaurant.Menus.length}}
                            menus.</p></span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="lead text-muted">Our Menus</h3>
            <div class="accordion" id="menus">
                {{#each restaurant.Menus}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-menu-{{id}}">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-menu-{{id}}"
                                aria-expanded="true"
                                aria-controls="collapse-menu-{{id}}"
                            >
                                {{title}}
                            </button>
                        </h2>
                        <div
                            id="collapse-menu-{{id}}"
                            class="accordion-collapse collapse"
                            {{!-- aria-labelledby="heading-menu-{{id}}"
                            data-bs-parent="#menus" --}}
                        >
                            <div class="accordion-body">
                                <ul class="list-group">
                                    {{#each MenuItems}}
                                        <li class="list-group-item">
                                            {{name}}
                                            <span
                                                class="float-end"
                                            >{{price}}</span>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

</main>
